{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{ user_data['nome_usual'] }} {% endblock %}</h2>
    <img src="https://suap.ifrn.edu.br{{ user_data['url_foto_150x200'] }}" alt="foto">

    {% for field in user_data %}

    <p> <b>{{ field }}</b>: {{ user_data[field] }} </p>

    {% endfor %}

    <p><a href="{{url_for('logout')}}">Logout</a></p>
    <p><a href="{{url_for('boletim', ano='2022')}}">Boletim 2022</a></p>
    <p><a href="{{url_for('boletim', ano='2021')}}">Boletim 2021</a></p>
    <p><a href="{{url_for('boletim', ano='2020')}}">Boletim 2020</a></p>
    

{% endblock %}